@font-face {
    font-family: "Poppins-regular";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins-medium";
    src: url("../assets/fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: "Poppins-light";
    src: url("../assets/fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: "Poppins-semibold";
    src: url("../assets/fonts/Poppins-SemiBold.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-fontfamily: "Poppins-regular", Helvetica, Arial, sans-serif;
}

body {
    font-family: var(--main-fontfamily);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* import poppins */

.dashboard {
    display: flex;
}

/* ------ HEAR AREA ------ */

.header-area {
    height: 100vh;
    width: 20%;
}

header {
    width: 100%;
    height: 100%;
    /* background-color: rgb(0, 110, 255); */
    background-color: rgb(50, 50, 50);
}

.header-content {
    padding: 1vw;
}

.header-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    margin-bottom: 3vw;
}

.header-brand img {
    width: 64px;
    height: 64px;
    margin-right: 1.5vw;
}

.header-brand h2 {
    font-family: "Poppins-light";
    font-size: 1.4vw;
    font-weight: 600;
    color: white;
}

.header-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav ul li {
    padding: 1vw 0;
    margin: .5vw 0;
    width: 100%;
    text-align: center;
}

.header-nav ul li a {
    color: white;
    font-size: 1vw;
}

/* ------ MAIN AREA ------ */

.main-area {
    height: 100vh;
    width: 80%;
}

/* ------ Topbar ------ */

.topbar-area {
    width: 100%;
    height: 14vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.topbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1vw 6vw;
}

.options {
    display: flex;
    height: 100%;
}

.options ul {
    display: flex;
    align-items: center;
    height: 100%;
}

.options ul li {
    padding-right: 2vw;
}

.options ul li button {
    font-family: "Poppins-medium", Helvetica, Arial, sans-serif;
    background-color: transparent;
    border: none;
    font-size: 1vw;
    color: rgb(100, 100, 100);
    cursor: pointer;
    position: relative;
}

.options ul li button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.15vw;
    transform: scale(0, 1);
    width: 100%;
    height: 4px;
    background-color: rgb(23, 97, 255);
    transition: .2s ease;
}

.options ul li button:hover::after {
    transition: .2s ease;
    transform: scale(1, 1);
}

#first-button::after {
    background-color: orange;
}

#second-button::after {
    background-color: rgb(255, 55, 55);
}

.account {
    display: flex;
    align-items: center;
}

.account h3 {
    font-size: 1.3vw;
    color: black;
    padding-right: 2vw;
}

.account button {
    background-image: url("../assets/icons/user.png");
    background-size: cover;
    background-color: white;
    color: white;
    width: 3vw;
    height: 3vw;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

/* ------ Data ------ */

.data-area {
    background-color: rgb(240, 240, 240);
    height: 86vh;
    width: 100%;
}

.data-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2vw 6vw;
}

.data-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vw;
}

.data-row:last-child {
    padding-bottom: 0;
}

#alt-per-year img {
    width: 30%;
}

#alt-evo {
    justify-content: center;
}

#alt-evo img {
    width: 100%;
}

/* PHP */

.number {
    width: 100%;
    height: 8vw;
}

.number ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.number ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 97, 255);
    border-radius: 8px;
    width: 20%;
    height: 100%;
}

.number ul li p {
    color: white;
    font-size: 1.5vw;
}


/* Geo Bar Chart */

.bar-chart ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bar-chart ul li {
    display: flex;
    height: 4vw;
}

.bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.bar {
    background-color: rgb(23, 97, 255);
    height: 2vw;
    padding-left: .4vw;
    color: rgb(23, 97, 255);
    cursor: pointer;
    transition: .2s ease;
}

.bar:hover {
    background-color: rgb(57, 120, 255);
    color: white;
    transition: .2s ease;
}

.name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.5vw;
    width: 16vw;
}

.name p {
    text-align: right;
    font-size: 1.1vw;
}

.bar-chart-scale {
    display: none;
}